@{
    ViewData["Title"] = "Form Submit Test";
}

<style>
    .titleSpan {
        background-color: lightgoldenrodyellow;
        color: red;
    }
</style>


<div class="text-center">
    <h3 class="display-6">
    <span class="titleSpan"><u>Form Submit Test</u></span></h3>
</div>