@{
    ViewData["Title"] = "Master Detail Test";
}

<style>
    .titleSpan {
        background-color: lightgoldenrodyellow;
        color: red;
    }
</style>


<div class="text-center">
    <h3 class="display-6">
        <span class="titleSpan"><u>Master Detail Test</u></span>
    </h3>
</div>

<p></p>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h4>User List</h4>
    </div>
    <div class="col-sm-4"></div>
</div>

<p></p>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3" id="usersCollection">
        <table class="table" id="table-id">
            <thead>
                @*<tr class="table-header">
                        <th></th>
                    </tr>*@
            </thead>
            <tbody class="table-body" id="table-body-id">
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6" id="userDetail">

    </div>
</div>



@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            var selectedUser = {
                name: '',
                username: '',
                email : ''
            };


            function createUsersCollectionTable(users) {            
                var container = $('.table-body');

                users.forEach(function (user) {
                    var tr = $('<tr>');
                    ['name'].forEach(function (attr) {
                        tr.append('<td name="'+ user.name +'" username="'+ user.username +'" email="' + user.email +'">' + user[attr]  +'</td>');
                    });
                    container.append(tr);
                });
            }

          

            function getUsers() {

                var pageUrl = 'https://jsonplaceholder.typicode.com/users';
                $.get(pageUrl).done(function (data) {
                    console.log(data);

                    createUsersCollectionTable(data);
                });
            }
            getUsers();


            $("#table-body-id").on("click", "tr", function () {
                var selectedUserName = $(this).find('td:first').html(); // .val();              


                selectedUser.name = $(this).find('td:first').attr("name");
                selectedUser.username = $(this).find('td:first').attr("username");
                selectedUser.email = $(this).find('td:first').attr("email");


                $.ajax({
                    type: "Post",
                    url: "/Home/DataByUserDetail",
                    data: JSON.stringify(selectedUser),
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#userDetail').html(response);
                    },
                    failure: function (response) {
                        console.log('Error...');
                    },
                    error: function (response) {
                        console.log('Error...');
                    }
                });
            });


        });
    </script>
}
